* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/fondo_material.png");

}

h1{
    margin-bottom: 4vh;
    font-size: 7vh;
    text-align: center;
}

form{
    width: 26%;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    background-color: rgb(142, 188, 244);
    border-radius: 18px;
    -webkit-box-shadow: -5px 6px 24px 6px rgba(72,69,128,1);
    -moz-box-shadow: -5px 6px 24px 6px rgba(72,69,128,1);
    box-shadow: -5px 6px 24px 6px rgba(72,69,128,1);
}

input{
    margin: 4%;
    padding: 1vh;
    border-radius: 5px;
    text-align: center;
}

select{
    margin: 4%;
    padding: 1vh;
    border-radius: 5px;
    text-align: center;     
}

.button2{
    width: 10vh;
    height: 5vh;
    border-radius: 5px;
    align-self: center;
    margin-top: 2vh;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}

.left{
    display: flex;
}