@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}
:root{
    --fuente:'Montserrat';
    --color-principal: #094a88 ;
    --color-blanco: #fff;
    --color-sh:#3ea2c97c;
}

body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.452);
    background-blend-mode: soft-light;
}

.body-login{
    background-image: url('../img/fondo2.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.452);
    background-blend-mode: soft-light;
}

.body-curso{
    background-image: url('../img/fondo3.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.452);
    background-blend-mode: soft-light;
}

h1{
    font-family: var(--fuente);
    text-align: center;
}

form {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    background-color: rgb(248, 248, 248);
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3vh var(--color-sh);
}

input {
    margin: 4%;
    padding: 1vh;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-family: var(--fuente);
    border: none;
    width: 100%;
}

select {
    margin: 4%;
    padding: 1vh;
    border-radius: 5px;
    text-align: center;
}

button{
    width: 50%;
    border: none;
    padding: 2vh 1vh;
    font-family: var(--fuente);
    cursor: pointer;

}

button:hover{
    background-color: var(--color-principal) ;
    color: var(--color-blanco);
    transition: 500ms ease-in-out;
}
a{
    font-size: 1.5vh;
    margin: 1vh 0;
}


@media screen and (min-width: 767px) and (max-width: 1023px) {
    form {
        width:40% ;
    }
    h1 {
        text-align: center;
    }
}

@media screen and (max-width: 767px){
    form {
        width: 60%;
    }
}
